<h2>Galería de imágenes</h2>
  <div class="row">
    <div class="col-md-4 image">
        <div class="image">
            <img src="assets/layouts/galeria/images/loja.jpg" alt="Imagen 2" class="img-fluid">
          </div>
    </div>
    <div class="col-md-4">
        <div class="image">
      <img src="assets/layouts/galeria/images/podo.jpg" alt="Imagen 2" class="img-fluid">
    </div>
    </div>
    <div class="col-md-4 image">
        <div class="image">
            <img src="assets/layouts/galeria/images/cascada.jpg" alt="Imagen 2" class="img-fluid">
          </div>
    </div>
    
  </div>
  <br>