<main id="main">
    <section id="home">
               <h1></h1> 
              <h1 class="title">Inicio</h1>
              <div class="container">
                <h2 >Acerca de mi</h2>
                <p>Mi nombre es Anderson Arévalo tengo 26
                años actualmente curso el 3er semestre de
                la carrera de ingeniería en Tecnologias de la Información, me caracterizo por ser una
                persona muy pro activa a la cual le gusta
                asumir nuevas responsabilidades, aprender
                cosas nuevas y enfrentar grandes retos.
                Trabajo muy bien en equipos de trabajo y
                tengo un alto sentido de la responsabilidad y
                la puntualidad.</p>
              </div>
              <div class="grid-container">
                <div class="item1"><img src="img/profile-img.jpg" style="width:200px;height: 200px;" alt=""></div>
                <div class="item2">
                    <h2>Datos Personales</h2></div>
                    
                <div class="item3 content">
                    <div><div class="content" > 
                        <ul>
                        <li><i class="fa-solid fa-chevron-right"></i> <strong>Nacimiento:</strong> <span>20 Ene 1997</span></li>    
                        <li><i class="fa-solid fa-chevron-right"></i> <strong>Telefono:</strong> <span>+593 98 957 0540</span></li>
                        <li><i class="fa-solid fa-chevron-right"></i> <strong>Ciudad:</strong> <span>Loja, Ecuador</span></li>
                    </ul></div></div>
                    <div><div class="content">
                        <ul>
                            <li><i class="fa-solid fa-chevron-right"></i> <strong>Edad:</strong> <span>26 </span></li>    
                            <li><i class="fa-solid fa-chevron-right"></i> <strong>Email:</strong> <span>and.are100@gmail.com</span></li>
                            <li><i class="fa-solid fa-chevron-right"></i> <strong>Ocupacion:</strong> <span>Estudiante</span></li>
                        </ul>
                        </div></div>
                    </div>
                </div>

    </section>
    
    <section id="skills" ><div class="skills">
        <h1 class="title" >Programación</h1>
        <h1></h1>
        <p>
            Programar es más que un pasatiempo para mí, es mi verdadera pasión. Disfruto cada momento que paso creando y resolviendo desafíos con código. La programación me brinda una forma única de expresar mi creatividad y me permite construir soluciones innovadoras. Estoy constantemente aprendiendo y explorando nuevas tecnologías para mejorar mis habilidades. Para mí, programar es mucho más que una afición, es un estilo de vida que me impulsa a crecer y superar mis propios límites.</p>
        <div class="content-bar">
            <div class="w3-light-grey">
                <p>Html</p>
                <div class="w3-container w3-blue" style="width:100%">100%</div>
            </div><br>
            <div class="w3-light-grey">
                <p>CSS</p>
                <div class="w3-container w3-blue" style="width:100%">100%</div>
            </div><br>
            <div class="w3-light-grey">
                <p>PHP</p>
                <div class="w3-container w3-blue" style="width:100%">100%</div>
            </div><br>
            <div class="w3-light-grey">
                <p>JavaScript</p>
                <div class="w3-container w3-blue" style="width:100%">100%</div>
            </div><br>
        </div>
        
      </div></section>
    
    
    <section id="study" > <h1 class="title">Deportes</h1>
        <h1></h1>
        <div class="container">
        <h2>Futbol</h2>
        Me encanta la emoción y la camaradería que se experimenta al jugar en equipo y la habilidad de controlar el balón con precisión.
        <h2>Baloncesto</h2>
        La intensidad y el ritmo rápido del juego me mantienen en constante movimiento, además de disfrutar de la estrategia y el desafío de encestar en la canasta.
        <h2>Voleibol</h2>
        Disfruto de la emoción de los remates y bloqueos, y la coordinación requerida para jugar en equipo y lograr una estrategia exitosa en la cancha.
        <h2>Tenis</h2>
        Me atrae la combinación de fuerza y habilidad necesaria para golpear la pelota con precisión, así como la competencia individual que impulsa mi superación personal.
        </div>
    </section>
    <section id="contact" ><div class="skills">
        <h1 class="title">Contactenos</h1>
        <h1></h1>

        <form class="w3-container container">
            <label><b>Nombre</b></label>
            <input class="w3-input w3-border w3-light-grey" type="text">
          
            <label><b>Apellido</b></label>
            <input class="w3-input w3-border w3-light-grey" type="text">

            <label><b>Email</b></label>
            <input class="w3-input w3-border w3-light-grey" type="email">
          
            <label><b>Mensaje</b></label>
            <input class="w3-input w3-border w3-light-grey" type="text">

            <button class="w3-btn w3-blue-grey">Enviar</button>
          </form>

        </div>              
    </section>

</main>