<div id="menu">
    <div class="profile">
        <img src="img/profile-img.jpg" style="width:100px" alt="">
        <h1><a href="index.html">Anderson Arevalo</a></h1>
        <div class="social-links text-center">
            <a href="https://www.facebook.com/andare100" class="facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/andare100/" class="instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/Aparevalo/Programacion-Web/tree/main/CV" class="github"><i class="fa-brands fa-github"></i></a>
            </div>
    </div>
    
    <ul>
        <li><a href="#home">Inicio</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#study">Estudios</a></li>
        <li><a href="#contact">Contactos</a></li>
      </ul>
</div>