
    
    <form id="reservationForm">
        <h2>Haz una reserva</h2>
        <br>
        <div class="rowReserva">
            <div class="colReserva">
                <label for="name">Nombre:</label>
                <input type="text" id="name" required>
            </div>
            <div class="colReserva">
                <label for="dates">Fechas:</label>
                <input type="date" id="startDate" required>
                <span> a </span>
                <input type="date" id="endDate" required>
            </div>
        </div>
        <button onclick="hacerReserva()" type="submit">Reservar</button>
    </form>
